@layer components {
  .inputRoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .inputWrapper {
    display: inline-block;
    position: relative;
    min-width: 64px;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--line-color);
    transition: 0.25s all;
  }

  .inputWrapper:hover {
    border-color: var(--main-color);
  }

  .inputWrapper:focus-within {
    border-color: var(--main-color);
    box-shadow: 0 0 0 1px var(--main-color);
  }

  .inputWrapper.error {
    border-color: var(--danger-color);
    box-shadow: 0 0 0 1px var(--danger-color);
  }

  .inputWrapper.fullWidth {
    display: block;
    width: 100%;
  }

  .input {
    padding: 12px 14px;
    font: var(--text-regular-medium);
    background-color: transparent;
    border-radius: inherit;
    color: var(--text-color);
    text-overflow: ellipsis;
    width: 100%;
    outline: none;
  }

  .inputWithAdornmentEnd {
    padding: 12px 40px 12px 14px;
  }

  .adornmentWrap {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
  }

  .helper {
    font: var(--text-regular-medium);
    color: var(--text-secondary-color);
  }

  .helper.error {
    color: var(--danger-color);
  }
}

@layer overrides {
  .onlyDisabledWrapper {
    border: 1px solid var(--line-color);
    box-shadow: none;
  }

  .onlyDisabled {
    color: var(--text-secondary-color);
    background-color: var(--surface-color);
  }
}