@layer utils {
  .formDivider {
    height: 20px;
    border-color: transparent;
  }

  .passwordInput {
    padding: 0;
    background-color: transparent;
    color: var(--text-secondary-color);
  }

  .passwordInput:hover {
    color: var(--text-color);
  }
}

@layer base {
  .rootContainer {
    display: flex;
    flex-direction: column;
    margin: calc(var(--auth-logo-indent) + var(--auth-logo-size) + 6px) var(--auth-logo-indent);
    width: 380px;
    user-select: none;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }

  .actionBarContainer {
    display: flex;
    width: 100%;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
    color: var(--text-secondary-color);
  }

  .actionBarQuestionWrap {
    font: var(--text-regular-small);
    margin-right: 12px;
  }

  @media (max-width: 600px) {
    .formWrap {
      width: 100%;
      max-width: 380px;
    }
  }
}
